<div class="menu-wrapper">
  <a class="menu-item active" routerLink="/dashboard" routerLinkActive="active">Tổng quan</a>
  <a class="menu-item" routerLink="/employee" routerLinkActive="active">Nhân viên</a>
  <a class="menu-item" routerLink="/department" routerLinkActive="active">Phòng ban</a>
  <a class="menu-item" routerLink="/source" routerLinkActive="active">Nguồn vật tư</a>
  <a class="menu-item" routerLink="/product" routerLinkActive="active">Vật tư</a>
  <a class="menu-item" routerLink="/supply" routerLinkActive="active">Phiếu đề xuất</a>
</div>
