.content-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  display: flex;
  align-items: center;
  justify-content: center;

  .form-wrapper {
    width: 50%;
    max-width: 650px;
    border-radius: 24px;
    border: 2px solid #FFF;
    padding: 40px;
    background: rgba(0, 0, 0, 0.18);

    .logo-img {
      max-width: 50%;
      margin: 0 auto;
      display: block;
      margin-bottom: 40px;
    }

    button {
      color: #FFF;
      font-size: 16px;
      font-weight: 500;
      width: 100%;
      text-align: right;
      font-size: unset;
      margin-top: 16px;
    }
  }
}
