<form #forgetPasswordForm="ngForm" (ngSubmit)="onSubmit(forgetPasswordForm)">
  <app-input label="Email or Username">
    <input placeholder="Email or Username" name="email" id="email" type="text" #input ngModel required>
  </app-input>

  <app-input label="New Password">
    <input placeholder="New Password" name="new-password" id="new-password" type="password" #input ngModel required>
    <div class="icon" #icon>
      <img src="assets/eye-regular.svg" alt="icon">
    </div>
  </app-input>

  <app-input label="Confirm Password">
    <input placeholder="Confirm Password" name="confirm-password" id="confirm-password" type="password" #input ngModel
      required>
    <div class="icon" #icon>
      <img src="assets/eye-regular.svg" alt="icon">
    </div>
  </app-input>

  <button type="submit" class="submit-btn" [disabled]="forgetPasswordForm.form.invalid">
    Reset
  </button>
</form>