<form (ngSubmit)="onSubmit()">
  <app-input label="Email or Username">
    <input placeholder="Email or Username" name="email" id="email" type="text" #input [(ngModel)]="username">
  </app-input>

  <app-input label="New Password">
    <input placeholder="New Password" name="new-password" id="new-password" type="password" #input
      [(ngModel)]="newPassword">
    <div class="icon" #icon>
      <img src="assets/eye-regular.svg" alt="icon">
    </div>
  </app-input>

  <app-input (click)="test()" label="Confirm Password">
    <input placeholder="Confirm Password" name="password" id="password" type="password" #input
      [(ngModel)]="confirmPassword">
    <div class="icon" #icon>
      <img src="assets/eye-regular.svg" alt="icon">
    </div>
  </app-input>

  <button type="submit" class="submit-btn" [disabled]="(!username || !newPassword || !confirmPassword)">
    Reset
  </button>
</form>
