@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #ffffff;
  color: #4C5D71;
  position: relative;
}

img {
  max-width: 100%;
  object-fit: contain;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  background-color: unset;
  border: none;
  outline: none;

  &.submit-btn {
    margin-top: 16px;
    border-radius: 8px;
    background-image: linear-gradient(45deg, #2b5876 0%, #4e4376 100%);
    text-align: center;
    padding: 12px 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    width: 100%;

    &[disabled] {
      opacity: .5;
    }
  }
}

.p-focus,
.p-focus > .p-inputtext {
  box-shadow: unset;
}

.ad-wrapper {
  display: flex;

  .ad-content {
    width: calc(100% - 150px);
    height: 100vh;
    overflow: auto;
    padding: 20px;
  }
}
